{% extends 'base/layout.html' %}
{% load static bootstrap3 ddm %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'criteria/report.css' %}">
{% endblock %}

{% block content %}
    <h2><i class="fa fa-check-square-o"></i> Criteria</h2>

    <table class="table criteria-report">
        <thead>
            <tr>
                <th>Category</th>
                <th>Criteria</th>
                <th>Weight</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for criterion in criteria %}
                {% with criterion.get_average_weight as weight %}
                    {% ifchanged weight|weight_as_index %}
                        {% if not forloop.first %}
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                        {% endif %}
                    {% endifchanged %}
                    <tr class="importance-{{ weight|weight_as_index }}">
                        <td class="category">{{ criterion.category.name }}</td>
                        <td class="name">{{ criterion.name }}</td>
                        <td class="weight">{{ weight }}</td>
                        <td class="weight-words">{{ weight|weight_in_words }}</td>
                    </tr>
                {% endwith %}
            {% empty %}
                <tr>
                    <td>No criteria</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
