{% extends 'base/layout.html' %}
{% load bootstrap3 static %}

{% block extrahead %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'scoring/scoring.css' %}">
{% endblock %}

{% block extrafoot %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'scoring/autosave.js' %}"></script>
{% endblock %}

{% block content %}

<h2>Scoring {{ option.name }}</h2>

<p>
    Enter your scores for <strong>{{ option.name }}</strong>. These scores are personal to you.</p>

<table class="table table-hover" id="scoring-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Score</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for criterion, score in criterion_scores %}
        <tr>
            <td>{{ criterion.name }}</td>
            <td>{{ criterion.category }}</td>
            <td class="value">
                <form action="{% url 'scoring:update' option.uuid criterion.uuid %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="value" value="{{ score.value }}" >
                    <span class="status"></span>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
        <td colspan="4">No criteria</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
