/*Css which is used across multiple apps*/

td.sorting {
    text-align: right;
}

td.sorting form {
    display: inline-block;
}

.notes {
    color: #666;
    font-size: 12px;
    margin-left: 10px;
}
