{% load bootstrap3 static %}<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'base/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'base/tip.css' %}">
        <link rel="stylesheet" href="{% static 'base/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'base/shared.css' %}">
        <link rel="stylesheet" href="{% static 'base/printing.css' %}">
        <link rel="stylesheet" href="{% static 'ddm_libs/sortable/sortable-theme-bootstrap.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% bootstrap_messages %}

        {% block body %}{% endblock %}

        <script type="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="application/javascript" src="{% static 'base/tip.js' %}"></script>
        <script type="application/javascript" src="{% static 'base/sidebar.js' %}"></script>
        <script type="application/javascript" src="{% static 'ddm_libs/sortable/sortable.min.js' %}"></script>
        {% bootstrap_javascript %}
        {% block extrafoot %}{% endblock %}
    </body>
</html>
