{% extends "base/base.html" %}
{% load bootstrap3 %}

{% block body %}
<div class="wrapper">
    <div class="row row-offcanvas row-offcanvas-left">
        {% include 'base/sidebar.html' %}

        <!-- main right col -->
        <div class="column col-sm-9 col-xs-11" id="main">
            <p><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a></p>
            <p>
                {% block content %}{% endblock %}
            </p>
        </div>
        <!-- /main -->
    </div>
</div>
{% endblock %}
