{% load ddm_nav %}
<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
    <ul class="nav" id="menu">
        {% get_total_incomplete_options as total_incomplete_options %}
        {% get_total_weightings_missing as total_weightings_missing %}

        {% if total_incomplete_options %}
            {% include 'base/sidebar_url.html' with url='options:list' name='Options' icon='cubes' count=total_incomplete_options count_style="warning" %}
        {% else %}
            {% include 'base/sidebar_url.html' with url='options:list' name='Options' icon='cubes' %}
        {% endif %}

        {% if total_weightings_missing %}
            {% include 'base/sidebar_url.html' with url='weighting:home' name='Criteria Weighting' icon='balance-scale' count=total_weightings_missing count_style="danger" %}
        {% else %}
            {% include 'base/sidebar_url.html' with url='weighting:home' name='Criteria Weighting' icon='balance-scale' %}
        {% endif %}

        {% include 'base/sidebar_url.html' with url='criteria:list' name='Criteria' icon='check-square-o' %}
        {% include 'base/sidebar_url.html' with url='categories:list' name='Criteria Categories' icon='object-group' %}

        {% include 'base/sidebar_url.html' with url='options:list' name='Print Scoring Sheets' icon='print' %}

        {% comment %}
        <li><a href="#"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Stories</span></a></li>
        <li><a href="#"><i class="fa fa-paperclip"></i> <span class="collapse in hidden-xs">Saved</span></a></li>
        <li><a href="#"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs">Refresh</span></a></li>
        <li>
            <a href="#" data-target="#item1" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>
            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li><a href="google.com">View One</a></li>
                <li><a href="gmail.com">View Two</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-target="#item2" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>
            <ul class="nav nav-stacked collapse" id="item2">
                <li><a href="#">View One</a></li>
                <li><a href="#">View Two</a></li>
                <li><a href="#">View Three</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">Link</span></a></li>
        {% endcomment %}
    </ul>
</div>
