<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
    <ul class="nav" id="menu">
        <li><a href="{% url 'options:list' %}"><i class="fa fa-list-alt"></i> <span class="collapse in hidden-xs">Options</span></a></li>
        <li><a href="{% url 'criteria:list' %}"><i class="fa fa-list-alt"></i> <span class="collapse in hidden-xs">Criteria</span></a></li>
        <li><a href="{% url 'weighting:home' %}"><i class="fa fa-list-alt"></i> <span class="collapse in hidden-xs">Criteria Weighting</span></a></li>
        <hr>
        <li><a href="{% url 'categories:list' %}"><i class="fa fa-list-alt"></i> <span class="collapse in hidden-xs">Criteria Categories</span></a></li>

        {% comment %}
        <li><a href="#"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Stories</span></a></li>
        <li><a href="#"><i class="fa fa-paperclip"></i> <span class="collapse in hidden-xs">Saved</span></a></li>
        <li><a href="#"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs">Refresh</span></a></li>
        <li>
            <a href="#" data-target="#item1" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>
            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li><a href="google.com">View One</a></li>
                <li><a href="gmail.com">View Two</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-target="#item2" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>
            <ul class="nav nav-stacked collapse" id="item2">
                <li><a href="#">View One</a></li>
                <li><a href="#">View Two</a></li>
                <li><a href="#">View Three</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">Link</span></a></li>
        {% endcomment %}
    </ul>
</div>
