{% extends 'base/layout.html' %}
{% load bootstrap3 static ddm %}

{% block extrahead %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'weighting/weighting.css' %}">
{% endblock %}

{% block extrafoot %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'weighting/autosave.js' %}"></script>
{% endblock %}

{% block content %}
    <h2><i class="fa fa-balance-scale"></i> Criteria Weighting</h2>

    <div class="alert alert-info">
        <p>Here you can set the importance of each criteria. Normally this is done on a scale of 0 - 3,
        with 3 being the most important.</p>

        <p><strong>You only need to do this once</strong>, but you can come back at modify it at any time.</p>
    </div>

    <table class="table table-hover" id="weighting-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight ({% weight_min %} - {% weight_max %})</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category, criterion_weights in category_weights %}
                <tr>
                    <th colspan="3">{{ category.name }}</th>
                </tr>
                {% for criterion, weight in criterion_weights %}
                <tr>
                    <td>{{ criterion.name }}</td>
                    <td class="value">
                        <form action="{% url 'weighting:update' criterion.uuid %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="value" value="{{ weight.value }}" min="{% weight_min %}" max="{% weight_max %}" >
                            <span class="status"></span>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                <td colspan="3">No criteria</td>
                </tr>
                {% endfor %}
            {% empty %}
            <tr>
            <td colspan="3">No categories</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <a href="{% url 'options:list' %}" class="btn btn-success pull-right">
            All done. Now score some options
            <i class="fa fa-arrow-right"></i>
            <i class="fa fa-cubes"></i>
        </a>
    </div>
{% endblock %}
