{% extends 'base/layout.html' %}
{% load bootstrap3 static ddm %}

{% block extrahead %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'weighting/weighting.css' %}">
{% endblock %}

{% block extrafoot %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'weighting/autosave.js' %}"></script>
{% endblock %}

{% block content %}
    <h2><i class="fa fa-balance-scale"></i> Criteria Weighting</h2>

    <div class="alert alert-info">
        <p><strong>How important is each criteria to you?</strong></p>

        <p>
            Give an importance for each criteria, where {% weight_min %} is <em>"I don't care"</em> and {% weight_max %} is <em>"this is mandatory for me"</em>.
            You only need to do this once, but you can come back at modify it at any time.
        </p>

    </div>

    <table class="table table-hover" id="weighting-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight ({% weight_min %}=don't care, {% weight_max %}=mandatory)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category, criterion_weights in category_weights %}
                <tr>
                    <th colspan="3">{{ category.name }}</th>
                </tr>
                {% for criterion, weight in criterion_weights %}
                <tr>
                    <td>{{ criterion.name }}</td>
                    <td class="value">
                        <form action="{% url 'weighting:update' criterion.uuid %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="value" value="{{ weight.value }}" min="{% weight_min %}" max="{% weight_max %}" >
                            <span class="status"></span>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                <td colspan="3">No criteria in this category</td>
                </tr>
                {% endfor %}
            {% empty %}
            <tr>
            <td colspan="3">No criteria have been created</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <a href="{% url 'options:list' %}" class="btn btn-success pull-right">
            Continue
        </a>
    </div>
{% endblock %}
