{% extends 'base/layout.html' %}
{% load bootstrap3 static %}

{% block extrahead %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'weighting/weighting.css' %}">
{% endblock %}

{% block extrafoot %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'weighting/autosave.js' %}"></script>
{% endblock %}

{% block content %}
<table class="table table-hover" id="weighting-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Weight</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for criterion, weight in criterion_weights %}
        <tr>
            <td>{{ criterion.name }}</td>
            <td>{{ criterion.category }}</td>
            <td class="value">
                <form action="{% url 'weighting:update' criterion.uuid %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="value" value="{{ weight.value }}" >
                    <span class="status"></span>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
        <td colspan="4">No criteria</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
