{% extends 'base/layout.html' %}
{% load bootstrap3 static ddm %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'options/detail.css' %}">
{% endblock %}

{% block content %}
    <h2><i class="fa fa-cubes"></i> {{ option.name }}</h2>

    <div class="row">
        <div class="col col-sm-3">
            <form action="" method="get" class="form">
                {% bootstrap_label "Select a user to view or view all users" %}
                {%  bootstrap_field user_form.user show_label=False %}
                <button class="btn btn-primary pull-right">Submit</button>
            </form>
        </div>

        <div class="col col-sm-3 col-sm-offset-1">
            {% get_fitness option for_user as fitness %}
            <div class="alert alert-info fitness">
                <span class="value">{{ fitness|show_value }}</span>
                <span class="lbl">option fitness</span>
            </div>
        </div>

        <div class="col col-sm-3 col-sm-offset-1">
            <a href="{% url 'options:list' %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Back to Options</a>
        </div>
    </div>

    <table class="table table-hover" id="score-detail">
        <thead>
            <tr>
                <th></th>
                <th>Weight</th>
                <th>Score</th>
                <th>Fitness</th>
            </tr>
        </thead>
        <tbody>
            {% get_weight_lookup for_user as weight_lookup %}
            {% get_score_lookup option for_user as score_lookup %}
            {% get_fitness_lookup option for_user as fitness_lookup %}

            {% for category in categories %}
                {% get_category_fitness category option for_user as fitness %}

                <tr class="category-heading">
                    <th colspan="4">{{ category.name }}</th>
                </tr>
                {% for criterion in category.criteria.all %}
                    <tr class="criterion">
                        <td>{{ criterion.name }}</td>
                        <td class="weight">{{ weight_lookup|get:criterion|show_average }}</td>
                        <td class="score">{{ score_lookup|get:criterion|show_average }}</td>
                        <td class="fitness">{{ fitness_lookup|get:criterion|show_average }}</td>
                    </tr>
                {% empty %}
                    <tr class="no-criteria">
                        <td>No criteria</td>
                    </tr>
                {% endfor %}
                <tr class="summary">
                    <td></td>
                    <td class="weight"></td>
                    <td class="score"></td>
                    <td class="fitness">
                        <span data-toggle="tooltip" title="Normalised fitness, calculated as: total fitness / total weight">
                            {{ fitness|show_average }}
                        </span>
                    </td>
                </tr>
            {% empty %}
                <tr class="no-categories">
                    <td>No categories</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <a href="{% url 'options:list' %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Back to Options</a>
    </div>
{% endblock %}
