{% extends 'base/layout.html' %}
{% load bootstrap3 static ddm %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'options/list.css' %}">
{% endblock %}

{% block content %}
<h2><i class="fa fa-cubes"></i> Options</h2>

    <div class="alert alert-info">
        <p>These are the options to be considered. Click the 'score' button to
        score the suitability of the option against the various criteria.</p>

        <p><strong>You should aim to get each properties' completion to 100%</strong></p>
    </div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Scores completion</th>
            <th>Completed by</th>
            <th>Fitness (you)</th>
            <th>Fitness (others)</th>
            <th>Fitness (average)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for option in options %}
            {% get_user_fitness option as user_fitness %}
            {% get_everyone_else_fitness option as everyone_else_fitness %}
            {% get_fitness option as fitness %}

            <tr>
                <td>
                    <a href="{% url 'options:detail' option.uuid %}">{{ option.name }}</a>
                </td>
                <td>
                    {% get_user_scores option as user_scores %}
                    {% widthratio user_scores.count total_criteria 100 as pc %}
                    {% if pc == "100" %}
                        <span class="complete">{{ pc }}%</span>
                    {% else %}
                        <span class="incomplete">{{ pc }}%</span>
                    {% endif %}
                </td>
                <td>
                {% with option.get_completed_users as users %}
                    <span data-toggle="tooltip" title="{% for u in users %}{{ u }}, {% endfor %}">
                        {{ users|length }} user{{ users|length|pluralize }}
                    </span>
                    {% endwith %}
                </td>

                {% if pc == "100" %}
                    <td>{{ user_fitness|show_average }}</td>
                    <td>{{ everyone_else_fitness|show_average }}</td>
                    <td>{{ fitness|show_average }}</td>
                {% else %}
                    <td class="pending">-</td>
                    <td class="pending">-</td>
                    <td class="pending">-</td>
                {% endif %}

                <td>
                    <a href="{% url 'scoring:list' option.uuid %}" class="btn {% if pc == "100" %}btn-default{% else %}btn-primary{% endif %} btn-xs">Score</a>
                </td>
                <td>
                    <a href="{% url 'options:update' option.uuid %}" class="btn btn-default btn-xs">Edit</a>
                </td>
                <td>
                    <form action="{% url 'options:delete' option.uuid %}" method="get">
                        <button class="btn btn-danger btn-xs">Delete</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
            <td colspan="3">No options</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<a href="{% url 'options:create' %}" class="btn btn-primary">Create</a>
{% endblock %}
